BXXT/settings.py
.idea/
customer/migrations
customer/__init__.py
BXXT/__init__.py
BXXT/media/images/2020/12/09/NERV_yGO1t3o.jpeg
BXXT/media/images/2020/12/09/NERV.jpeg
BXXT/media/images/2020/12/09/wa9llhaven-zmkkly_.jpg
.gitignore
BXXT/__init__.py
customer/__init__.py
customer/migrations/__init__.py
