{% extends 'base.html' %}
{% load static %}

{% block title %}DOCUMENTS{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<style>
    img {
        width: 80px;
    }

    .title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    .myTable {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    a {
        text-decoration: none
    }
</style>
{% endblock %}

{% block content %}


{% if latest_document_list and User %}}

<div class="container" style="max-width: 80; margin-top: 2%;">
    {% for document in latest_document_list %}
    <table class="myTable">
        <tbody>
            <tr>
                <th width="15%">申请编号：</th>
                <td width="20%">{{document.aid}}</td>
                <th width="10%">报销号：</th>
                <td width="20%">{{document.rid}}</td>
                <th width="25%" rowspan="3"><img src="/refundproof/qrcode/afb715ae61584abea32b35686cdf75e8.png"
                        alt="UIBE报销二维码"></th>
            </tr>
            <tr>
                <th width="15%">姓&nbsp;&nbsp;&nbsp;名：</th>
                <td width="20%">{{User.uname}}</td>
                <th width="10%">类&nbsp;&nbsp;&nbsp;别：</th>
                <td width="20%">{{User.utype}}</td>
            </tr>
            <tr>
                <th width="15%">部&nbsp;&nbsp;&nbsp;门：</th>
                <td width="20%">信息学院</td>
                <th width="10%">日&nbsp;&nbsp;&nbsp;期：</th>
                <td widhrefth="20%">{{document.dtime}}</td>
            </tr>

        </tbody>
    </table><br>
    <table class="myTable" border="1">
        <tbody>
            <tr>
                <th width="18%">医事服务费</th>
                <td width="12.5%">{{document.register}}</td>
                <th width="12.5%%">合计金额</th>
                <td width="12.5%%">
                    {{document.cost}}
                </td>
                <th width="12.5%">可报金额</th>
                <td width="12.5%">
                    {{document.money}}
                </td>
                <th width="12.5%"><a href="../showRecord/afb715ae61584abea32b35686cdf75e8">凭证数</a></th>
                <td width="7%">{{document.desum}}</td>
            </tr>
            <tr>
                <th width="18%">医药费</th>
                <td width="12.5%">{{document.invoice}}</td>
                <th width="12.5%">报销比例</th>
                <td width="12.5%">{{document.ratio}}</td>
                <th colspan="2">报销金额</th>
                <td colspan="3">
                    {{document.money_bx}}
                </td>
            </tr>
        </tbody>
    </table><br><br>


    <hr class="my-5">
    {% endfor %}

    <table class="myTable">
        <tbody>
            <tr>
                <th width="20%">合计金额:{{amount}}</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th width="20%">财务处审核签章</th>
                <td width="12.5%"></td>
                <th width="20%">公疗办医生审核签章</th>
                <td width="12.5%"></td>
                <th>报销人</th>
                <td width="12.5%"></td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>NO RECORDS ARE AVAILABLE.</p>
    {% endif %}
</div>


<script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}