{% load static %}


<!DOCTYPE html>
<html>

<head>
    <title>APPLYS</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#ff7f00;">
        <div class="container" style="max-width: 80%;">
            <a class="navbar-brand " href="/bxxt/customer/">
                <h3>BXXT</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.session.m_is_login %}
                    <li><a class="nav-link text-light">Online：{{ request.session.manager_name }}</a> </li>
                    <li><a class="nav-link text-light" href="/bxxt/staff/logout/">Log out</a> </li>
                    {% else %}
                    <li><a class="nav-link text-light" href="/bxxt/staff/login/">Sign in</a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if latest_apply_list %}
    <div class="container" style="max-width: 80%;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">APPLY No.</th>
                    <th scope="col">TIME APPLY</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">DETAIL</th>
                </tr>
            </thead>
            <tbody>
                {% for apply in latest_apply_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{apply.aid}}</td>
                    <td>
                        {{apply.atime}}
                    </td>
                    <td>
                        <p>{{apply.get_astatus_display}}</p>
                    </td>
                    <td>
                        <a href="/bxxt/staff/details/{{apply.id}}">DETAILS</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>NO APPLY ARE AVAILABLE.</p>
        {% endif %}
    </div>
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>



</html>